Session.vim*
.DS_Store
.vim
set-env-dev.sh
set-env-local.sh
set-env-local-test.sh
set-env-staging.sh
set-env-prod.sh
.env.local
sync-prod-db-to-staging.sh
sync-staging-to-dev.sh
set-db-envs.sh
set-env-test.sh
cleanup-dbs.sh
set-usm-auth-aurora.sh
set-usm-auth-rex.sh
.env.dev
.env.stag
.env.prod
.env.localtest
.env.test
