[user]
  name = Alexander Tesfamichael
  email = alex.tesfamichael@gmail.com
  signingkey = B39F262D78F56F21
[push]
  default = simple
[core]
  editor = vim
[pull]
  rebase = true
[pager]
  log = diff-so-fancy | less
  show = diff-so-fancy | less
  diff = diff-so-fancy | less
[diff]
  indentHeuristic = true
[alias]
  changelog = "!sh -c 'git --no-pager log --pretty=format:\"- %an: %b\" --grep \"pull request\" $(git tag -l \"[0-9-]*\" | tail -n${1-1} | head -n1)..master; echo' -"
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "webstorm-eap"]
  cmd = webstorm-eap merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
  keepTemporaries = false
  keepBackup = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
