[user]
  name = Alexander Tesfamichael
  email = alex.tesfamichael@gmail.com
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[pull]
  rebase = true
[pager]
  log = diff-so-fancy | less
  show = diff-so-fancy | less
  diff = diff-so-fancy | less
[diff]
  indentHeuristic = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
